async-timeout==4.0.2
aiohttp==3.8.3
asyncio==3.4.3
asgiref==3.6.0
flask==2.2.2
tornado==6.2
flask_cors==3.0.8
flask_session==0.4.0
bcrypt==4.0.1
boto3==1.20.15
botocore==1.23.15
cachelib==0.9.0
certifi==2019.9.11
cffi==1.15.1
chardet==3.0.4
click==8.0.0
cryptography==38.0.4
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.8
Flask-Session==0.4.0
gunicorn==20.1.0
idna==2.9
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.9.4
MarkupSafe==2.1.1
pycparser==2.21
pyOpenSSL==22.1.0
python-dateutil==2.8.0
redis==4.4.0
requests==2.23.0
s3transfer==0.5.0
six==1.12.0
stripe==5.0.0
urllib3==1.25.4
Werkzeug==2.2.2