/* .odd {
    background-color: #fafafa;
}

.even {
    background-color: #fff;
} */

.calendar {
    padding-top: 3px!important;
    padding-left: 1em!important;
    padding-right: 1em!important;
    margin-bottom: 2em;
}

.hour {
    text-align: left;
    height: 3em;
    max-height: 3em;
    border-bottom-color: #eee;
    border-bottom-width: 1px;
    border-bottom-style:solid;
}

.hour-label {
    font-size: small;
    
}

.day {
    border-left-color: #eee;
    border-left-width: 1px;
    border-left-style:solid;
}